<div class="row">
    <h3 class="col-xs-12 projectTitleOne">Contact</h3>



    <div class="col-xs-12 projectTitle"> Phone Number: 434-258-2717
        <a href="https://github.com/ttreme" class="gitMaster"><img class="gitMaster" ng-src="images/git.png">
        </a>
        <a href="https://linkedin.com/in/titustreme" class="linkedIn"><img class="linkedIn" ng-src="images/linkedin.png">
        </a>
    </div>
    <div class="col-xs-12 projectTitle"> Email: tremetitus@gmail.com</div>
    <a  class="col-xs-12 projectTitle" href="/images/U_Treme_Titus_Resume copy.pdf" download="TremeTitusResume.pdf">Download Resume</a>
</div>