<div class="row">
<h3 class="col-xs-12 projectTitleOne">Projects</h3>

<h3 class="col-xs-12 projectTitle">Troll-Patrol</h3>



<div class="col-md-6 col-xs-12 blackBox">
    <div>Technologies Used: HTML, CSS, AngularJs, Node, Mongoose, MongoDb, Sockets.io, BootStrap
        <a href="https://github.com/ttreme" class="gitMaster"><img class="gitMaster" ng-src="images/git.png">
        </a>
        <a href="https://linkedin.com/in/titustreme" class="linkedIn"><img class="linkedIn" ng-src="images/linkedin.png">
        </a></div><hr>
    <span class="projectDescription">Troll-Patrol backstory: The idea from the project came from a conversation with friends that are always arguing.
        I figured I could make them a chat channel, and provide a "topic of the day" to argue over.
        Since there are so many trolls on social media and videogames, I thought, "Why not make a chat channel that is specifically for trolling?"
        <hr>
        <ul>
            <li>I used JWT for User Authentication in this project. This allows for users to receive a web token to verify they are logged in,
                and it helps protect the password!
            </li>
            <li> For the chat I used Socket.io which allows for instant chats. It essentially listens for a message to be emitted
            , and then allows you to use the message instantly.
            </li>
            <li> The rest is pretty standard!</li>
                            <hr><a class="indexMe" href="http://troll.titustreme.com">Link to Troll-Patrol</a>
        </ul>

    </span>


</div>
    <div id="myPugCel" class="carousel slide col-md-6 col-xs-12" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectPic col-xs-12" ng-src="/images/mainpage.png">
            </div>
            <div class="item">
            <img class="projectPicTwo col-xs-12" ng-src="/images/signup.png">
            </div>
                <div class="item">
            <img class="projectPicThree col-xs-12" ng-src="/images/login.png">
                </div>
            <div class="item">
            <img class="projectPicFour col-xs-12" ng-src="/images/chatroom.png">
            </div>
        </div>
    </div>

<h3 class="col-xs-12 projectTitle">Omelet-Haven</h3>

    <div class="col-md-6 col-xs-12 blackBox">
        <div>Technologies Used: HTML, CSS, AngularJs, Node, Mongoose, MongoDb, BootStrap</div><hr>
        <span class="projectDescription">Omelet-Haven backstory: I love Omelets, so I figured I would make a goofy web application that could
            store omelets created by anybody! The website is very simple, but the idea is fun!<hr>
        <ul>
            <li>I made an Omelet Schema that saves to a MongoDb database.
            </li>
            <li> Many websites use the parallax technique, and I wanted to give it a try.
            </li>
            <li> I really enjoyed making a navbar that is supposed to look like a cutting board! It turned out well enough, but I
            do plan on refining it to make it more realistic.</li>
                            <hr><a href="http://omelethaven.titustreme.com">Link to Omelet-Haven</a>
        </ul>


        </span>
    </div>

    <div id="myPugCel" class="carousel slide col-md-6" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectPic col-xs-12" ng-src="/images/cuttingboard.png">
            </div>
            <div class="item">
                <img class="projectPicTwo col-xs-12" ng-src="/images/omelet.png">
            </div>
            <div class="item">
                <img class="projectPicThree col-xs-12" ng-src="/images/omelet form.png">
            </div>
            <div class="item">
                <img class="projectPicFour col-xs-12" ng-src="/images/contact page.png">
            </div>
        </div>
    </div>

    <h3 class="col-xs-12 projectTitle">Last FM</h3>
    <div class="col-md-6 col-xs-12 blackBox">
        <div>Technologies Used: HTML, CSS, AngularJs, BootStrap</div><hr>
        <span class="projectDescription">Last FM backstory: I simply wanted to be able to post music that I was listening to on Spotify
            to a website. The LastFm API made this easy to do, because it had straightforward documention to follow.<hr>
        <ul>
            <li>One page allows a user to enter their LastFm username, and will post the 10 most recent songs they have listened to.
            </li>
            <li> The next page allows a user to pull the Top Ten Artists, and show how many listeners they have!
            </li>
            <li> The last page is a very simple contact page with information to reach me!</li>
        </ul>

        </span>
    </div>

    <div id="myPugCel" class="carousel slide col-md-6" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <img class="projectPic col-xs-12" ng-src="/images/fmname.png">
            </div>
            <div class="item">
                <img class="projectPicTwo col-xs-12" ng-src="/images/fmnamelist.png">
            </div>
            <div class="item">
                <img class="projectPicThree col-xs-12" ng-src="/images/top artists.png">
            </div>
            <div class="item">
                <img class="projectPicFour col-xs-12" ng-src="/images/fmnamelist.png">
            </div>
        </div>
    </div>

</div>
