<div class="row">
<h3 class="col-xs-12">Projects</h3>

<h3 class="col-xs-12">Troll-Patrol</h3>

<img class="projectPic col-xs-6" ng-src="/images/mainpage.png">
<img class="projectPic col-xs-6" ng-src="/images/signup.png">
<img class="projectPic col-xs-6" ng-src="/images/login.png">
<img class="projectPic col-xs-6" ng-src="/images/chatroom.png">

<h3 class="col-xs-12">Omelet-Haven</h3>

<img class="projectPic col-xs-6" ng-src="/images/cuttingboard.png">
<img class="projectPic col-xs-6" ng-src="/images/omelet.png">
<img class="projectPic col-xs-6" ng-src="/images/omelet form.png">
<img class="projectPic col-xs-6" ng-src="/images/contact page.png">

<h3 class="col-xs-12">Last FM</h3>
<img class="projectPic col-xs-6" ng-src="/images/fmname.png">
<img class="projectPic col-xs-6" ng-src="/images/fmnamelist.png">
<img class="projectPic col-xs-6" ng-src="/images/top artists.png">
</div>