<h1 class=" homeTitle col-xs-4 col-xs-offset-4">HOME</h1>

<h3 class="homeTitle col-xs-12">My name is Titus Treme, and I am not an Alpaca.</h3>


    <div class=" col-xs-12 col-md-6 col-md-offset-1 aboutMe">BIO: <br>I am a Web Developer, and I am currently focusing on Javascript! Learning about new technologies, games, places, and cultures is important to me. Working on new skills and learning new things
    keeps life interesting!<br>
    <br> I grew up in Guadalajara, Jalisco. I love Mexico as much as I love the USA.   </div>
<div class="col-xs-12 col-md-4">m</div>

<div class="row bufferMe">
    <h1 class=" col-xs-12 col-md-4 col-md-offset-4 homeTitle">Skills</h1>
</div>
        <div class="row">
                <img class="icons col-xs-4 col-md-1 col-md-offset-4" ng-src="/images/angularjs.png">
                <img class="icons col-xs-4 col-md-1" ng-src="/images/nodejs.png">
                <img class="icons col-xs-4 col-md-1" ng-src="/images/HTML5_Logo_512.png">
                <img class="icons col-xs-4 col-md-1" ng-src="/images/Javascript.png">
                <img class="icons col-xs-4 col-md-1 col-md-offset-4" ng-src="/images/jquery-icon.png">
                <img class="icons col-xs-4 col-md-1" ng-src="/images/mongo-db-alternate-logo.png">
                <img class="icons col-xs-4 col-xs-offset-2 col-md-1 col-md-offset-0" ng-src="/images/git.png">
                <img class="icons col-xs-4 col-md-1" ng-src="/images/css3.png">

        </div>
