<h3 class="homeTitle col-xs-12">
    My name is Titus Treme</h3>


<div class=" col-xs-12 col-md-6 col-md-offset-3 aboutMe">BIO: <br>I am a Web Developer, and I am currently focusing on Javascript! Learning about new technologies, games, places, and cultures is important to me. Working on new skills and learning new things keeps life interesting!<br>
    <br> I grew up in Guadalajara, Jalisco. I love Mexico as much as I love the USA. I would play soccer every day if I had the chance. I thoroughly enjoy talking to people, and encouraging them further their skills.

</div>


<div class="row">
    <h1 class=" col-xs-12 col-md-4 col-md-offset-4 bufferMe">Skills</h1>
</div>
<div class="">
    <img class="icons col-xs-4 col-md-1 col-md-offset-4" ng-src="/images/angularjs.png">
    <img class="icons col-xs-4 col-md-1" ng-src="/images/nodejs.png">
    <img class="icons col-xs-4 col-md-1" ng-src="/images/HTML5_Logo_512.png">
    <img class="icons col-xs-4 col-md-1" ng-src="/images/Javascript.png">
    <img class="icons col-xs-4 col-md-1 col-md-offset-4" ng-src="/images/jquery-icon.png">
    <img class="icons col-xs-4 col-md-1" ng-src="/images/mongo-db-alternate-logo.png">
    <img class="icons col-xs-4 col-xs-offset-2 col-md-1 col-md-offset-0" ng-src="/images/git.png">
    <img class="icons col-xs-4 col-md-1" ng-src="/images/css3.png">

</div>
